<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>죠르디 대학교</title>

    <!-- Custom fonts for this template-->
    <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../assets/css/custom.css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="Pretendard-Medium" style="text-align: center; color: #92E8A7"><b>회원가입</b>
                            </h1>
                        </div>
                        <form class="user" action="/students/new" th:object="${signUpRequestDto}" method="post">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" id="id" placeholder="학번" style="border-color: #92E8A7; color: #92E8A7"
                                           th:class="${#fields.hasErrors('studentId')}? 'form-control form-control-user Pretendard-Light fieldError' : 'form-control form-control-user Pretendard-Light'">
                                    <p th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}">Incorrect date</p>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" id="name" placeholder="이름" style="border-color: #92E8A7; color: #92E8A7"
                                           th:class="${#fields.hasErrors('studentId')}? 'form-control form-control-user Pretendard-Light fieldError' : 'form-control form-control-user Pretendard-Light'">
                                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="tel" id="phone" placeholder="핸드폰 번호" style="border-color: #92E8A7; color: #92E8A7"
                                           th:class="${#fields.hasErrors('studentId')}? 'form-control form-control-user Pretendard-Light fieldError' : 'form-control form-control-user Pretendard-Light'">
                                    <p th:if="${#fields.hasErrors('phone')}" th:errors="*{name}">Incorrect date</p>
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" placeholder="이메일" style="border-color: #92E8A7; color: #92E8A7"
                                           th:class="${#fields.hasErrors('studentId')}? 'form-control form-control-user Pretendard-Light fieldError' : 'form-control form-control-user Pretendard-Light'">
                                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" id="password" placeholder="비밀번호" style="border-color: #92E8A7; color: #92E8A7"
                                           th:class="${#fields.hasErrors('studentId')}? 'form-control form-control-user Pretendard-Light fieldError' : 'form-control form-control-user Pretendard-Light'">
                                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user Pretendard-Light"
                                           id="repeatPassword" placeholder="비밀번호 확인" style="border-color: #92E8A7; color: #92E8A7">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <select name="major" id="major" class="form-control select-box Pretendard-Light"
                                            style="font-size: .8rem; border-radius: 10rem; border-color: #92E8A7;"
                                            th:class="${#fields.hasErrors('studentId')}? 'form-control select-box Pretendard-Light fieldError' : 'form-control select-box Pretendard-Light'">
                                        <option value="">학과선택</option>
                                        <option value="경영학과">경영학과</option>
                                        <option value="영어영문학과">영어영문학과</option>
                                        <option value="소프트웨어학부">소프트웨어학부</option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('major')}" th:errors="*{major}">Incorrect date</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <select name="grade" id="grade" class="form-control Pretendard-Light"
                                            style="font-size: .8rem; border-radius: 10rem; border-color: #92E8A7;">
                                        <option value="">학년선택</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select name="semester" id="semester" class="form-control Pretendard-Light"
                                            style="font-size: .8rem; border-radius: 10rem; border-color: #92E8A7;">
                                        <option value="">학기선택</option>
                                        <option value="1">1학기</option>
                                        <option value="2">2학기</option>
                                    </select>
                                </div>
                            </div>
                            <a href="login.html" class="btn btn-primary btn-user btn-block">
                                회원가입
                            </a>
                        </form>
                        <hr>
                        <a href="index.html" class="btn btn-kakao btn-user btn-block">
                            <i class="fab fa-kakao fa-fw">
                                <img src="../assets/css/images/kakao.png"
                                     style="max-width: 100%; max-height: 100%; display: block;">
                            </i>
                            Register with Kakao
                        </a>
                        <a href="index.html" class="btn btn-naver btn-user btn-block">
                            <i class="fab fa-naver fa-fw">
                                <img src="../assets/css/images/naver.png"
                                     style="max-width: 100%; height: auto; display: block;">
                            </i>
                            Register with Naver
                        </a>

                        <hr>
                        <div class="text-center">
                            <a class="small Pretendard-Light" href="students/id">학번을 잊어버렸다면?</a>
                        </div>
                        <div class="text-center">
                            <a class="small Pretendard-Light" href="students/password">비밀번호를 잊어버렸다면?</a>
                        </div>
                        <div class="text-center">
                            <a class="small Pretendard-Light" href="../login">이미 계정이 존재한다면 로그인하세요!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../assets/js/sb-admin-2.min.js"></script>

</body>

</html>